<div class="articles">
  <% @articles.each do |article| %>
    <%= link_to article_path(article) do %>
      <div class="article-card">
        <img src="<%= article.image_url %>" />
        <div class="article-card-infos">
          <% username = article.author.username %>
          <% words = username.split(/\W/) %>
          <% initials = words.map { |word| word[0] } %>
          <div class="initials"><%= initials.join('') %></div>
          <div class="text">
            <p class="name"><%= article.author.username %></p>
            <p class="details"><%= article.created_at.strftime("%B %d") %> • <%= article.reading_time %> min</p>
          </div>
        </div>
        <div class="article-card-text">
          <h2><%= article.title %></h2>
          <p class="my-2"><%= article.content.body.to_plain_text.first(200) %>...</p>
        </div>
      </div>
    <% end %>
  <% end %>

</div>
